/**
 * HW-Wireframe
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
  }
  
  header {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    height: 100px;
  }

  #nav {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    height: 100px;
  }
  
  section {
      padding: 20px;
      margin-bottom: 20px;
      width: 45%;
      margin-left: 10%;
      background-color: #eee;
      float: left;
      height: 350px;
      position: relative;
  }

  article {
        padding: 20px;
        margin-bottom: 20px;
        background-color: #757575;
        color: #ebebeb;
        height: 250px;
        position: absolute;
        bottom: 0%;
        left: 5%;
        right: 5%;

  }

  h1 {
      background-color: #ebebeb;
      margin-bottom: 10px;
      color: #777;
      height: 75px;

  }

  p {
      background-color: #ebebeb;
      color: #777;
      height: 75px;
      
  }

  aside {
      background-color: #ebebeb;
      width: 33%;
      height: 350px;
      border: 1px solid #eee;
      padding: 20px;
      float: right; 
      margin-right: 10%;
  }
  
  footer {
      clear: both;
      padding: 20px;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 20px;
      background-color: #ebebeb;
      height: 100px;
  }
  